{%  extends "base.html" %}
{%  load static %}


{%  block title %}
    My Blog
{%  endblock %}

{%  block css_files %}
    <link rel="stylesheet" href="{%  static "blog/post.css" %}" />
    <link rel="stylesheet" href="{%  static "blog/index.css" %}" />
{% endblock %}

{%  block content %}

    <section id="welcome">
    <header>
        <img src="{% static 'blog/images/me.jpeg' %}" alt="Jerri -The author of this blog" >
        <h2>Jerri's Blog</h2>
    </header>
        <p>Hi, I'm Jerri and I like to talk tech!</p>
    </section>
    <section id="latest-posts">
        <h2>My Latest Posts</h2>
    <ul>
        {% for post in posts %}
        {% include "blog/includes/post.html" %}
        {%  endfor %}
    </ul>
    </section>
    <section id="about">
    <h2>What I do</h2>
    <p>I like programming and enjoy helping others .</p>
    <p>My goal is to keep growing as a programmer and if I can help you that makes me happy</p>

    </section>

{%  endblock %}