{%  extends "base.html" %}


{%  block title %}
My Blog
{%  endblock %}

{%  block css_files %}

{% endblock %}

{%  block content %}
    <header id="main-navigation">
        <h1><a href="">Jerris Blog</a></h1>
        <nav>
            <a href="">All Posts</a>
        </nav>
    </header>
    <section id="welcome">
    <h2>Welcome to Jerri's Blog</h2><header>
        <img src="" alt="Jerri -The author of this blog" />
        <h2>Jerri's Blog</h2>
    </header>
        <p>Hi, I'm Jerri and I like to talk tech!</p>
    </section>
    <section id="latest-posts">
        <h2>My Latest Posts</h2>
    <ul>
        <li>
          <article class="post">
              <a href="">
                <img src="" alt="Netwoking"/>
                  <div class ="post__content"
              </a>
          </article>
        </li>
    </ul>
    </section>
    <section>

    </section>

{%  endblock %}